{% extends 'cases/base_case.html' %}
{% load static %}
{% block page_title %}
<h1 class="m-0 text-dark"> <small> </small></h1>
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="card card-info">
          {% for ListProfiles in ListProfile %}
          <div class="card-header">
            <h3 class="card-title">Profile E-referral: {{ ListProfiles.label}} ส่งต่อ {{ ListProfiles.refer_label}}
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form role="form" method="POST" class="form-group" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label > OperationSystem </label>
                    {% if ListProfiles.OperationSystem_id == None %}
                    <small class="badge badge-danger"> ไม่มีข้อมูลใน Profile Server </small>
                    {% endif %}
                    <select class="form-control select2" name="os" style="width: 100%;">
                      {% for os in os %}
                      {% if ListProfiles.OperationSystem_id == os.id %}
                      <option value="{{ os.id }}" selected> {{os.name}} </option>
                      {% else %}
                      <option value="{{ os.id }}">{{os.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label>Band</label>
                  {% if ListProfiles.ServerBand_id == None %}
                  <small class="badge badge-danger"> ไม่มีข้อมูลใน Profile Server </small>
                  {% endif %}
                  <select class="form-control select2" name="serverband" style="width: 100%;">
                    {% for bands in band %}
                    {% if ListProfiles.ServerBand_id == bands.id %}
                    <option value="{{ bands.id }}" selected>{{bands.name}}</option>
                    {% else %}
                    <option value="{{ bands.id }}">{{bands.name}}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- textarea -->
                  <div class="form-group">
                    <label> Database </label>
                    {% if ListProfiles.database_id == None %}
                    <small class="badge badge-danger"> ไม่มีข้อมูลใน Profile Server </small>
                    {% endif %}
                    <select class="form-control" name="db" style="width: 100%;">
                      {% for db in db %}
                      {% if ListProfiles.database_id == db.id %}
                      <option value="{{ db.id }}" selected>{{db.name}}</option>
                      {% else %}
                      <option value="{{ db.id }}">{{db.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> WebServer </label>
                    {% if ListProfiles.webServer_id == None %}
                    <small class="badge badge-danger"> ไม่มีข้อมูลใน Profile Server </small>
                    {% endif %}
                    <select class="form-control" name="web_server" style="width: 100%;">
                      {% for web_server in web_server %}
                      {% if ListProfiles.webServer_id == web_server.id %}
                      <option value="{{ web_server.id }}" selected>{{web_server.name}}</option>
                      {% else %}
                      <option value="{{ web_server.id }}">{{web_server.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>IP mask:</label>
                    {% if ListProfiles.FixIpAddress == '' %}
                    <small class="badge badge-danger"> ไม่มีข้อมูลใน Profile Server </small>
                    {% endif %}
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                      </div>
                      <input name="ip" type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask=""
                        im-insert="true" required value="{{ListProfiles.FixIpAddress}}">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Backup Database </label>
                    {% if ListProfiles.dbBackup == '' %}
                    <small class="badge badge-danger"> ไม่มีข้อมูลใน Profile Server </small>
                    {% endif %}
                    <select class="form-control" name="dbBackup" style="width: 100%;">
                      {% if ListProfiles.dbBackup == "Yes" %}
                      <option value="Yes" selected>Yes</option>
                      <option value="No">No</option>
                      {% else %}
                      <option value="Yes">Yes</option>
                      <option value="No" selected>No</option>
                      {% endif %}
                    </select>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label> Version Hospital E-referral </label>
                    <!-- <input type="text" class="form-control" name="FirstName" placeholder="ชื่อ" required> -->
                    <select class="form-control" name="versHosErefer" style="width: 100%;">
                      {% for versHosErefer in versHosErefer %}
                      {% if ListProfiles.versHosEreferral_id == versHosErefer.id %}
                      <option value="{{ versHosErefer.id }}" selected>{{versHosErefer.name}}</option>
                      {% else %}
                      <option value="{{ versHosErefer.id }}">{{versHosErefer.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label> Version EREFWS </label>
                    <select class="form-control" name="vers_Erefws" style="width: 100%;">
                      {% for vers_Erefws in vers_Erefws %}
                      {% if ListProfiles.versErefws_id == vers_Erefws.id %}
                      <option value="{{ vers_Erefws.id }}" selected>{{vers_Erefws.name}}</option>
                      {% else %}
                      <option value="{{ vers_Erefws.id }}">{{vers_Erefws.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label> Test Send Data </label>
                    <select class="form-control" name="testData" style="width: 100%;">
                      <option value="Yes">Yes</option>
                      <option value="No" selected>No</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label> MQ Online </label>
                    <select class="form-control" name="testMq" style="width: 100%;">
                      <option value="No">No</option>
                      <option value="Online" >Online</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class='col-sm-12'>
                  <div class="form-group">
                    <label>หมายเหตุ :</label>
                    {% if ListProfiles.EreferMemo == None %}
                    <textarea name="ereferMemo"  class="form-control" rows="2"></textarea>
                    {% else %}
                    <textarea name="ereferMemo"  class="form-control"
                      rows="2">{{ListProfiles.EreferMemo}}</textarea>
                    {% endif %}
                  </div>
                </div>

              </div>

              <div class="text-center">
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-sm-installErefer">
                  Submit
                </button>
              </div>
              <div class="modal fade" id="modal-sm-installErefer">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Status :</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <select class="form-control" name="status_case" style="width: 100%;">
                        {% for status in status %}
                            <option value="{{ status.id }}" selected>{{status.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </form>

            <!-- /.modal -->
          </div>
          <!-- /.card-body -->
        </div>
        {% endfor %}
        <!-- /.card -->
      </div>
    </div>

  </div>


</div>
{% endblock main_content %}
<!-- /.content -->