{% extends 'cases/base_controlversion.html' %}
{% load tags_and_filters_extras %}
<!-- {% block page_title %}
{% endblock page_title %} -->
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <a class="btn btn-app" href="{% url 'profileErefer:setupStatus' 4 %}">
                  <span class="badge badge-danger navbar-badge">{{ ListStatus_4 }}</span>
                  <i class="fas fa-times-circle"></i> ติดตั้งไม่สำเร็จ
                </a>
                <a class="btn btn-app" href="{% url 'profileErefer:setupStatus' 2 %}">
                  <span class="badge badge-success navbar-badge">{{ ListStatus_2 }}</span>
                  <i class="fas fa-check-square"></i> ติดตั้งสำเร็จ
                </a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                
                <table id="example1" class="table table-bordered table-striped">
                  
                  <thead>
                    
                  <tr>
                    <th>Hcode</th>
                    <th>ส่งต่อ</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for ListSetupErefers in ListSetupErefer %}
                  <tr>
                    <td>
                      {{ListSetupErefers.code}}
                      <br>
                      <small>
                        <!-- {{ case.date_entered}} -->
                        {{ListSetupErefers.label}}
                      </small>
                    </td>
                    <td class="text-center">
                      {{ListSetupErefers.refer_code}}
                      <br>
                      <small>
                        <!-- {{ case.date_entered}} -->
                        {{ListSetupErefers.refer_label}}
                      </small>
                    </td>
                    <td>
                      <small> {{ListSetupErefers.ContactFirstName}} &nbsp;  {{ListSetupErefers.ContactLastName}} &nbsp; Tel. {{ListSetupErefers.ContactPhone}} </small>
                      <br>
                      <small> วันที่ติดตั้ง {{ListSetupErefers.success_at|add_datetime}} </small>
                      <br>

                      {% if ListSetupErefers.update_by != None  %}
                      <p class="text-primary"><small> แก้ไขล่าสุด : {{ListSetupErefers.update_at|add_datetime}} </small></p> 
                      {% endif %}

                    </td>
                    <td class="text-center">
                      {% if ListSetupErefers.ServerServiceStatus_id == 1  %}
                          <small class="badge badge-warning"> แจ้งติดตั้งระบบ </small>
                          <br>
                          <small> {{ ListSetupErefers.staff_first_name }} {{ ListSetupErefers.staff_last_name }}</small>
                          {% elif ListSetupErefers.ServerServiceStatus_id == 2  %}
                          <a class="badge badge-success">
                            ติดตั้งเสร็จสิ้น
                          </a>
                          <br>
                          <small> ติดตั้ง :{{ ListSetupErefers.staff_first_name }} {{ ListSetupErefers.staff_last_name }}</small>
                          <br>
                          {% if ListSetupErefers.update_by != None  %}
                          <p class="text-primary"><small> แก้ไข : {{ListSetupErefers.staff_update_first_name}} {{ListSetupErefers.staff_update_last_name}} </small></p> 
                          {% endif %}
                          {% elif ListSetupErefers.ServerServiceStatus_id == 4  %}
                          <a class="badge badge-danger">
                            ติดตั้งไม่สำเร็จ
                          </a>
                          <br>
                          <small> ติดตั้ง :{{ ListSetupErefers.staff_first_name }} {{ ListSetupErefers.staff_last_name }}</small>
                          <br>
                          {% if ListSetupErefers.update_by != None  %}
                          <p class="text-primary"><small> แก้ไข : {{ListSetupErefers.staff_update_first_name}} {{ListSetupErefers.staff_update_last_name}} </small></p> 
                         {% endif %}
                      {% endif %}
                    </td>
                    <td class="text-center">
                      <!-- <a class="btn btn-info btn-sm" href="#" target="_blank">
                        <i class="fas fa-eye"></i>
                      </a> -->
                      <a class="btn btn-success btn-sm" href="{% url 'profileErefer:updateEreferProfile' ListSetupErefers.ProfileServer_id %}">
                        <i class="fas fa-pencil-alt"></i>
                        <!-- <i class="fas fa-user-cog"></i> -->
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}