{% extends 'first_app/base_template.html' %}
{% block page_title %}
<!-- <h1 class="m-0 text-dark"> Home <small>Example 3.0</small></h1> -->
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-text-width"></i>
          Users Lists
        </h3>
      </div>
      <!-- /.card-header -->
      {% if person %}
      <div class="card-body">
        <ol>
          {% for persons in person %}
            <li>User Info </li>
            <ul>
              <li>First Name: {{ persons.first_name }} </li>
              <li>Last Name: {{ persons.last_name }}</li>
              <li>Email : {{ persons.email  }}</li>
            </ul>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
      <!-- /.card-body -->
    </div>
  </div>
</div>
{% endblock main_content %}
