# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
backup
.vscode/
*.sql
*.sql.gz
.profile
.sudo_as_admin_successful
.viminfo
.cache
.config
.bashrc
.bash*
.bash*
mysite/crm/migrations/*
mysite/crm/__pycache__/*
mysite/crm/__pycache__/