{% extends 'base_dashborard.html' %}
{% load static %}
{% load tags_and_filters_extras %}
{% block page_title %}
รายงานสถานการณ์การจ่ายชดเชย ในเครือข่ายปฐมภูมิ รูปแบบใหม่ Model5 
<!-- <p class="text-danger"> ** ณ วันที่ {{max_date|add_datetime}} **</p> -->
<p class="text-danger">
<small>
  ** ณ วันที่ {{max_date|add_datetime}} **
</small>
</p>
{% endblock page_title %}
{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">
                <div class="row">
                <div class="col-lg-4 col-12">
                  <!-- จำนวนหน่วยบริการปฐมภูมิรูปแบบใหม่ (Model5) -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3> {{sum_hosp.TOTAL}} </h3>
                        
                      <p>1.จำนวนหน่วยบริการปฐมภูมิรูปแบบใหม่ (Model5)</p>
                    </div>
                    <div class="icon">
                      <i class="ion-map"></i>
                    </div>
                    <a href="{% url 'hosp_model5' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- 2.ติดตั้งโปรแกรมเรียบร้อยแล้ว -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3> {{count_installApp}} </h3>
                      <p>2.ติดตั้งโปรแกรมเรียบร้อยแล้ว</p>
                    </div>
                    <div class="icon">
                      <i class="ion-monitor"></i>
                    </div>
                    <a href="{% url 'installApp' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- 3.ผ่านการอบรมแล้ว -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3> {{count_training}} </h3>
                        
                      <p>3.ผ่านการอบรมแล้ว</p>
                    </div>
                    <div class="icon">
                      <i class="ion-university"></i>
                    </div>
                    <a href="{% url 'training' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3> {{countHospReqClaim}} </h3>
                        
                      <p>4.จำนวนคลินิกที่ขอ Claim Code ได้</p>
                    </div>
                    <div class="icon">
                      <i class="ion-arrow-down-c"></i>
                    </div>
                    <a href="{% url 'amountHospReqClaimcode' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                      <h3>{{countHospSendClaim}}<sup style="font-size: 20px"></sup></h3>
      
                      <p>5.จำนวนคลินิกที่ส่งเบิกได้</p>
                    </div>
                    <div class="icon">
                      <i class="ion-upload"></i>
                      
                    </div>
                    <a href="{% url 'amountHospReqClaim' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                      <h3> {{SumDataKnow}} <sup style="font-size: 20px"></sup></h3>
      
                      <p>6.จำนวนที่สปสช. รับรู้ว่ามีการบริการ</p>
                    </div>
                    <div class="icon">
                      <i class="ion-android-bulb"></i>
                      
                    </div>
                    <a href="{% url 'dataKnowReqClaimCode'%}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3> {{sum_ReqClaimCode}} </h3>
                        
                      <p>7.จำนวนข้อมูลที่ขอ Claim Code </p>
                    </div>
                    <div class="icon">
                      <i class="ion-arrow-down-a"></i>
                    </div>
                    <a href="{% url 'amountDataHospReqClaimCode' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                      <h3>{{sum_resultsReqClaim}}<sup style="font-size: 20px"></sup></h3>
      
                      <p>8.จำนวนข้อมูลที่ส่งเบิกทั้งหมด</p>
                      <small>
                        (8)=(9)+(10)
                      </small>
                    </div>
                    <div class="icon">
                      <i class="ion-upload"></i>
                      
                    </div>
                    <a href="{% url 'amountDataHospReqClaim' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>{{sum_Approv}}</h3>
      
                      <p>9.ผ่านการตรวจสอบ</p>
                    </div>
                    <div class="icon">
                      <i class="ion-checkmark-circled"></i>
                    </div>
                    <a href="{% url 'HospApprove' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>{{sum_Denined}}</h3>
      
                      <p>10.ไม่ผ่านการตรวจสอบ</p>
                    </div>
                    <div class="icon">
                      <i class="ion-alert-circled"></i>
                    </div>
                    <a href="{% url 'model5Error' %}"  target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                      <h3> {{querySumOver}} <sup style="font-size: 20px"></sup></h3>
                        <p>11.จำนวนที่ขอ Claimcode แต่ยังไม่ส่งเบิก มากกว่า 5 วัน</p>
                      <div class="text-center">
                        <small>
                          (เทียบวันที่ขอ Claimcode vs วันที่ส่งข้อมูลครั้งแรก)
                        </small>
                      </div>

                    </div>
                    <div class="icon">
                      <i class="ion-chevron-right"></i>
                      
                    </div>
                    <a href="{% url 'dataTimePeriodOver' %}" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                  <!-- small box -->
                  <div class="small-box bg-warning-demo">
                    <div class="inner">
                      <!-- <h3>53<sup style="font-size: 20px">%</sup></h3> -->
                      <h3> None <sup style="font-size: 20px"></sup></h3>
                      <p>12.จำนวนที่ขอ Claimcode ได้ และส่งเบิกเร็วที่สุดน้อยกว่า 5 วัน </p>
                        <small>
                          (เทียบวันที่ขอ Claimcode vs วันแสดงข้อมูล)
                        </small>
                    </div>
                    <div class="icon">
                      <i class="ion-sad"></i>
                      
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
                <!-- ./col -->
              </div>
              <!-- /.row -->
            </div>
            <div class="col-md-4">  
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    จำนวนคลินิกที่ส่งเบิก
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <div class="chart-responsive"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="pieChart" height="186" width="372" class="chartjs-render-monitor" style="display: block; width: 744px; height: 372px;"></canvas>
                      </div>
                      <!-- ./chart-responsive -->
                    </div>
                    <!-- /.col -->
                   <!-- <div class="col-md-4">
                      <ul class="chart-legend clearfix">
                        <li><i class="far fa-circle text-danger"></i> ไม่ส่งเบิก </li>
                        <li><i class="far fa-circle text-success"></i> ส่งเบิก</li>
                         <li><i class="far fa-circle text-warning"></i> FireFox</li>
                        <li><i class="far fa-circle text-info"></i> Safari</li>
                        <li><i class="far fa-circle text-primary"></i> Opera</li>
                        <li><i class="far fa-circle text-secondary"></i> Navigator</li> 
                      </ul>
                    </div>-->
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer bg-white p-0">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                      <a href="{% url 'ListHospNotClaim' %}" target="_blank" class="nav-link">
                        ไม่ส่งเบิก
                        <span class="float-right text-danger">
                          {{persentNoSendClaimcode}}%</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'amountHospReqClaim' %}" target="_blank" class="nav-link">
                        ส่งเบิก
                        <span class="float-right text-success">
                         {{persentSendClaimcode}}%
                        </span>
                      </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a href="#" class="nav-link">
                        China
                        <span class="float-right text-warning">
                          <i class="fas fa-arrow-left text-sm"></i> 0%
                        </span>
                      </a>
                    </li> -->
                  </ul>
                </div>
                <!-- /.footer -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
    </div>


</section>
{% endblock main_content %}
