{% extends 'base_sqlreport.html' %}
{% load static %}
{% block page_title %}
<h1 class="m-0 text-dark"> <small> เอกสาร </small></h1>
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title m-0">HospitalOS </h5>
            <div class="ribbon-wrapper">
              <div class="ribbon bg-info">
                คู่มือ
              </div>
            </div>
          </div>
          <div class="card-body">

            <h6 class="card-title"> <i class="far fa-file-pdf"></i> คู่มือการใช้งานโปรแกรม HospitalOS 3.9.40 </h6>

            <p class="card-text"></p>
            <a href="/media/file/ManualHospitalOS.zip" class="btn-sm btn-warning"><i class="fas fa-file-download"></i>
              ManualHospitalOS.zip</a>

          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title m-0"> HospitalOS </h5>
            <div class="ribbon-wrapper">
              <div class="ribbon bg-info">
                คู่มือ
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title">นำเข้าข้อมูลมาตรฐานยา TMT</h6>

            <p class="card-text"></p>
            <a href="/media/file/ManualImportTMT.zip" class="btn-sm btn-warning"><i class="fas fa-file-download"></i>
              นำเข้าข้อมูลมาตรฐานยา_TMT.zip</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title m-0">HospitalOS Report </h5>
            <div class="ribbon-wrapper">
              <div class="ribbon bg-success">
                คู่มือ
              </div>
            </div>
          </div>
          <div class="card-body">

            <h6 class="card-title"> <i class="far fa-file-pdf"></i> คู่มือการใช้งานโปรแกรม IReport </h6>

            <p class="card-text"></p>
            <a href="/media/file/ManualHospitalOS.zip" class="btn-sm btn-warning"><i class="fas fa-file-download"></i>
              Manual_IReport.zip</a>

          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title m-0"> HospitalOS (Stock) </h5>
            <div class="ribbon-wrapper">
              <div class="ribbon bg-info">
                คู่มือ
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title"> <i class="far fa-file-pdf"></i> คู่มือการใช้งานโปรแกรม HospitalOS (Stock) </h6>
            <p class="card-text"></p>
            <a href="/media/file/ManualImportTMT.zip" class="btn-sm btn-warning"><i class="fas fa-file-download"></i>
              ManualDrugStock.zip</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.row -->

</div>


</div>
{% endblock main_content %}
<!-- /.content -->