{% load static %}
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'model5_dashboard' %}" class="brand-link">
      <img src="{% static "dist/img/nhso.ico" %} "
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">NHSO BKK</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg"%} " class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block"> Hello, {{ request.user }} </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header"></li>
        </li>
        <li class="nav-item">
         <a href="{% url 'recepreport' %}" target="_blank" class="nav-link">
           <i class="far fa-list-alt"></i>
           <p>&nbsp;Recap Report</p>
         </a>
       </li>
          <li class="nav-item">
            <!-- <a href="{% url 'create_case' %}" class="nav-link"> -->
          <!-- <li class="nav-item">
            <a href="{% url 'controlversions-page' %}" class="nav-link">
              <i class="fas fa-arrow-alt-circle-down"></i>
              <p>&nbsp;Control Version</p>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
