{% extends 'cases/base_controlversion.html' %}
{% load tags_and_filters_extras %}
<!-- {% block page_title %}
{% endblock page_title %} -->
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- <div class="card-header">
                <a class="btn btn-app" href="#">
                  <span class="badge badge-info navbar-badge">{{ ListStatus_user }}</span>
                  <i class="fas fa-tools"></i> Case Accept 
                </a>
                 <a class="btn btn-app" href="{% url 'profileErefer:setupStatus' 2 %}">
                  <span class="badge badge-danger navbar-badge">{{ ListStatus_4 }}</span>
                  <i class="fas fa-times-circle"></i> ติดตั้งไม่สำเร็จ
                </a> 
                <a class="btn btn-app" href="{% url 'profileErefer:setupStatus' 4 %}">
                  <span class="badge badge-success navbar-badge">{{ ListStatus_2 }}</span>
                  <i class="fas fa-check-square"></i> ติดตั้งสำเร็จ
                </a> 
              </div> -->
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#Id</th>
                    <th>Case Name</th>
                    <th>Project</th>
                    <th>Hospital</th>
                    <th>Contact</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for ListinsertApi in ListinsertApi %}
                  <tr>
                    <td>
                      <a>
                        {{ ListinsertApi.id}}
                      </a>
                    </td>
                    <td>
                     {{ListinsertApi.callback_title}}
                     <br>
                     <small>
                       {{ ListinsertApi.insert_at|add_datetime }}
                     </small>
                    </td>
                    <td>
                      {{ListinsertApi.pro_name}}
                      <br>
                      <small>
                        {{ ListinsertApi.sub_name }}
                      </small>
                    </td>
                    <td class="text-center">
                      {{ListinsertApi.code}}
                      <br>
                      <small> {{ListinsertApi.label}} </small>
                    </td>
                    <td>
                      <small> {{ListinsertApi.callback_name}} </small>
                      <br>
                      <small> โทร. {{ListinsertApi.mobile_phone}} </small>
                    </td>
                    <td class="project-actions text-center">
                      <a class="btn btn-success btn-sm" href="{% url 'viewCaseApi-page' %}" onclick="lockCaseApi('{{ListinsertApi.callback_title|checkApiNoneCaseName}}',{{ListinsertApi.sub_id|checkApiNoneSubID}},{{ListinsertApi.hos_id|checkApiNoneHosID}},{{ListinsertApi.id}})">
                        Accept
                      </a>
                    
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}