{% extends 'first_app/base_template.html' %}
{% block page_title %}
<!-- <h1 class="m-0 text-dark"> Home <small>Example 3.0</small></h1> -->
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="container">

  <div class="row">
    <div class="card">
      <div class="card-header">
          <h1> Register pages </h1>
      </div>
      <!-- /.card-header -->
      {% if registered %}
    <div class="card-body">
      <h1> Thank you for registering!</h1>
      {% else %}
        <form class="form-group" enctype="multipart/form-data"  method="post">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register">
        </form>
      </div>
      {% endif %}
      <!-- /.card-body -->
    </div>
  </div>
</div>
{% endblock main_content %}
