{% extends 'cases/base_case.html' %}
{% load tags_and_filters_extras %}
{% block page_title %}
<!-- Create Case -->
{% endblock page_title %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">
    <!-- <div class="col-md-6 offset-md-3"> -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Monitor Case Assign </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>                  
              <tr>
                <th style="width: 10px">#</th>
                <th>Staff</th>
                <th>Assign</th>
                <th>Pending</th>
                <th>Close</th>
                <th style="width: 40px">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for resultsList in resultsLists %}
              <tr>
                <td>{{resultsList.rownumber}}</td>
                <td>{{resultsList.first_name}} {{resultsList.last_name}} </td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-info" style="width: {{resultsList.userid|percentStatus:resultsList.status_assign}}%"></div>
                  </div>
                  <small class="text-info">
                    <a href="{% url 'monitorStatusAssignCase' resultsList.userid %}">
                      {{resultsList.status_assign}} Case
                    </a>                   
                    
                </small>
                <br>
                {% if resultsList.check_urgent > 0 %}
                  <span class="badge bg-warning"> ด่วน </span>  
                {% endif %}
                {% if resultsList.check_very_urgent > 0 %}
                  <span class="badge bg-danger"> ด่วนที่สุด </span>  
                {% endif %}      
                </td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" style="width: {{resultsList.userid|percentStatus:resultsList.status_pending}}%"></div>
                  </div>
                <small class="text-warning">
                  <a href="{% url 'monitorStatusPendingCase' resultsList.userid %}">
                    {{resultsList.status_pending}} Case
                  </a>                   
                  
                </small>
                <br> 
                {% if resultsList.check_status_pending_urgent > 0 %}        
                <span class="badge bg-warning"> ด่วน </span>  
                {% endif %}
                {% if resultsList.check_status_pending_very_urgent > 0 %} 
                <span class="badge bg-danger">  ด่วนที่สุด </span>  
                {% endif %}  
                </td>
                <td>
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-success" style="width: {{resultsList.userid|percentStatus:resultsList.status_close}}%"></div>
                  </div>
                <small class="text-success">
                  <a href="{% url 'monitorStatusCloseCase' resultsList.userid %}">
                    {{resultsList.status_close}} Case
                  </a>                   
                </small>
                </td>
                <td class="text-center"><span class="badge bg-danger">{{resultsList.total_case}}</span></td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
