{% extends 'cases/base_controlversion.html' %}
{% load tags_and_filters_extras %}
<!-- {% block page_title %}
{% endblock page_title %} -->
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"> Control Version  </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Hcode</th>
                    <th>Hname</th>
                    <th>ControlVersion | S_Version</th>
                    <th>Ereferral_Version | Stock_Version</th>
                    <th>Date Update</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for ControlVersions in ControlVersion %}
                  <tr>
                    <td>{{ControlVersions.hcode}}</td>
                    <td>{{ControlVersions.label}}</td>
                    <td>{{ControlVersions.app_controlVersion}}</td>
                    <td>{{ControlVersions.app_hosVersion}}</td>
                    <td>{{ControlVersions.date_created|add_datetime}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}