{% extends 'cases/base_dashboard.html' %}
{% load static %}
{% load tags_and_filters_extras %}
{% block page_title %}
Dashboard
{% endblock page_title %}
{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" url-endpoint4='{% url 'api-monthlyrecap' %}'>
                    <div class="card-header">
                        <h5 class="card-title">Monthly Recap Report</h5>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="text-center">
                                    <strong>Case: 1 {{dates|date:"M , Y "}} - {{dates|date:"d M , Y"}}</strong>
                                </p>
                                <!-- <div class="position-relative mb-4" id="revenue-chart" style="position: relative; height: 300px;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div> -->

                                <div class="chart">
                                    <div class="chartjs-size-monitor">
                                        <div class="chartjs-size-monitor-expand">
                                            <div class=""></div>
                                        </div>
                                        <div class="chartjs-size-monitor-shrink">
                                            <div class=""></div>
                                        </div>
                                    </div>
                                    <!-- Sales Chart Canvas -->
                                    <canvas id="caseMonthChart" height="180"
                                        style="height: 295px; display: block; width: 907px;" width="1020"
                                        class="chartjs-render-monitor"></canvas>
                                </div>
                                <!-- /.chart-responsive -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-2">
                                <p class="text-center">
                                    <strong>Project </strong>
                                </p>

                                <div class="progress-group">
                                    HospitalOS
                                    <span class="float-right"><b>{{count_case_hos}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info"
                                            style="width: {{count_case_hos|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    OPBKKClaim-Client
                                    <span class="float-right"><b>{{count_case_opbkk}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger"
                                            style="width: {{count_case_opbkk|round_number }}%"></div>
                                    </div>
                                </div>

                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Ereferral</span>
                                    <span class="float-right"><b>{{count_case_erefer}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success"
                                            style="width: {{count_case_erefer|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    EHHC
                                    <span class="float-right"><b>{{count_case_ehhc}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary"
                                            style="width: {{count_case_ehhc|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    HsHv
                                    <span class="float-right"><b>{{count_case_hshv}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning"
                                            style="width: {{count_case_hshv|round_number }}%"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    SmartCard
                                    <span
                                        class="float-right"><b>{{count_case_smartcard}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary"
                                            style="width: {{count_case_smartcard|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">Server</span>
                                    <span class="float-right"><b>{{count_case_server}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info"
                                            style="width: {{count_case_server|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">ประชาชน</span>
                                    <span class="float-right"><b>{{count_case_other}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success"
                                            style="width: {{count_case_other|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->

                            </div>
                            <div class="col-md-2">
                                <p class="text-center">
                                    <strong>Project </strong>
                                </p>

                                <div class="progress-group">
                                    BkkApp
                                    <span class="float-right"><b>{{count_case_bkkapp}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-primary"
                                            style="width: {{count_case_bkkapp|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    E-claim
                                    <span class="float-right"><b>{{count_case_eClaim}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger"
                                            style="width: {{count_case_eClaim|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    HospitalOS-Admin
                                    <span class="float-right"><b>{{count_case_hosAdmin}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info"
                                            style="width: {{count_case_hosAdmin|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    HospitalOS-Report
                                    <span
                                        class="float-right"><b>{{count_case_hosReport}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info"
                                            style="width: {{count_case_hosReport|round_number }}%"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    OPBKKClaim - Web
                                    <span class="float-right"><b>{{count_case_opbkkWeb}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger"
                                            style="width: {{count_case_opbkkWeb|round_number }}%"></div>
                                    </div>
                                </div>
                                <div class="progress-group">
                                    Bppds
                                    <span class="float-right"><b>{{count_case_bppds}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning"
                                            style="width: {{count_case_bppds|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->
                                <div class="progress-group">
                                    <span class="progress-text">กรุงไทย APP</span>
                                    <span class="float-right"><b>{{count_case_ktb}}</b>/{{count_case_total}}</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success"
                                            style="width: {{count_case_ktb|round_number }}%"></div>
                                    </div>
                                </div>
                                <!-- /.progress-group -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- ./card-body -->
                    <!-- <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="description-block border-right">
                                    <h5 class="description-header">{{count_call}}</h5>
                                    <span class="description-text">TOTAL CALL</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="description-block border-right">
                                    <h5 class="description-header">{{count_line}}</h5>
                                    <span class="description-text">TOTAL LINE</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="description-block border-right">
                                    <h5 class="description-header">{{count_facebook}}</h5>
                                    <span class="description-text">TOTAL FACEBOOK</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="description-block border-right">
                                    <h5 class="description-header">{{count_email}}</h5>
                                    <span class="description-text">TOTAL EMAIL</span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="description-block">
                                    <h5 class="description-header">{{count_Line_official}}</h5>
                                    <span class="description-text">TOTAL LINE OFFICIAL</span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <div class="card" url-endpoint3='{% url 'api-data-case' %}'>
                <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Case of Year
                    </h3>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content p-0">
                        <!-- Morris chart - Sales -->
                        <div class="position-relative mb-4" id="revenue-chart"
                            style="position: relative; height: 300px;">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="case-chart" height="250" width="715" class="chartjs-render-monitor"
                                style="display: block; height: 200px; width: 572px;"></canvas>
                        </div>
                    </div>
                </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->

        <div class="col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 bg-warning">
                <span class="info-box-icon"><i class="ion-android-home"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Hospital</span>
                    <span class="info-box-number">{{count_hospital}}</span>
                </div>
                <div class="info-box-content">
                    <span class="info-box-text">HealthCenter</span>
                    <span class="info-box-number">{{count_hc}}</span>
                </div>
                <div class="info-box-content">
                    <span class="info-box-text">Clinic</span>
                    <span class="info-box-number">{{count_clinic}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-success">
                <span class="info-box-icon"><i class="ion-android-laptop"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Project</span>
                    <span class="info-box-number">{{count_project_all}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-danger">
                <span class="info-box-icon"><i class="ion-ios-list-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Case</span>
                    <span class="info-box-number">{{count_case_all}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <!-- <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        ติดตั้งโครงการ E-ereferral
                    </h3>
                </div> -->
                <div class="card-body">

                    <p class="text-center">
                        <strong>ติดตั้งโครงการ E-ereferral</strong>
                    </p>
                    {% for SetupErefer in count_SetupErefer %}
                    <div class="progress-group">
                        {{SetupErefer.refer_code}} : {{SetupErefer.refer_label}}
                        <span
                            class="float-right"><b>{{SetupErefer.status_success}}</b>/{{SetupErefer.status_total}}</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-success" style="width: {{SetupErefer.percentage}}%"></div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- {% for SetupErefer_11482 in count_SetupErefer_11482 %}
                    <div class="progress-group">
                        {{SetupErefer_11482.refer_code}} : {{SetupErefer_11482.refer_label}}
                        <span
                            class="float-right"><b>{{SetupErefer_11482.status_success}}</b>/{{SetupErefer_11482.status_total}}</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-danger" style="width: {{SetupErefer_11482.percentage}}%"></div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for SetupErefer_11470 in count_SetupErefer_11470 %}
                    <div class="progress-group">
                        {{SetupErefer_11470.refer_code}} : {{SetupErefer_11470.refer_label}}
                        <span
                            class="float-right"><b>{{SetupErefer_11470.status_success}}</b>/{{SetupErefer_11470.status_total}}</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-success" style="width: {{SetupErefer_11470.percentage}}%"></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for SetupErefer_11478 in count_SetupErefer_11478 %}
                    <div class="progress-group">
                        {{SetupErefer_11478.refer_code}} : {{SetupErefer_11478.refer_label}}
                        <span
                            class="float-right"><b>{{SetupErefer_11478.status_success}}</b>/{{SetupErefer_11478.status_total}}</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-warning" style="width: {{SetupErefer_11478.percentage}}%"></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for SetupErefer_41414 in count_SetupErefer_41414 %}
                    <div class="progress-group">
                        {{SetupErefer_41414.refer_code}} : {{SetupErefer_41414.refer_label}}
                        <span
                            class="float-right"><b>{{SetupErefer_41414.status_success}}</b>/{{SetupErefer_41414.status_total}}</span>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-info" style="width: {{SetupErefer_41414.percentage}}%"></div>
                        </div>
                    </div>
                    {% endfor %} -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card" url-endpoint2='{% url 'api-data-service' %}'>
                <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <h3 class="card-title">
                        <i class="fas fa-chart-pie mr-1"></i>
                        Service of Month {{ dates|date:"M , Y "  }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="tab-content p-0">
                        <div class="position-relative mb-4" id="revenue-chart"
                            style="position: relative; height: 300px;">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="myChart2" height="375" style="height: 300px; display: block; width: 676px;"
                                width="845" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock main_content %}