{% extends 'cases/base_controlversion.html' %}
{% load static %}
{% load tags_and_filters_extras %}
<!-- {% block page_title %}
{% endblock page_title %} -->
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-6">
            {% if ProfileServer.ServerImage %}
            <div class="col-12">
              <img src="{{ProfileServer.ServerImage}}" class="product-image" alt="Product Image">
            </div>
            {% else %}
            <div class="col-12">
              <img src="{% static "dist/img/images_not.png" %}" class="product-image" alt="Product Image">
            </div>
            {% endif %}
          </div>
          <div class="col-12 col-sm-6">
            <div class="bg-green py-2 px-3 mt-4">
              <h2 class="mb-0">
                {{ProfileServer.hospitals.code}} : {{ProfileServer.hospitals.label}}
              </h2>
            </div>
            <div class="row">
              <div class="col-6 col-sm-6">
                <h5 class="my-3">OperationSystem : {{ProfileServer.OperationSystem.name}}</h5>
                <hr>
                <h5> Band : {{ProfileServer.ServerBand.name}}  </h5>
                <hr>
                <h5> Database : {{ProfileServer.database.name}}  </h5>
                <hr>
                <h5> WebServer : {{ProfileServer.webServer.name}}  </h5>
                <hr>
                <h5> FixIpAddress : {{ProfileServer.FixIpAddress}}  </h5>
                <hr>
                <h5> SetDatabaseBackup : {{ProfileServer.dbBackup}} </h5>
                <hr>
                <h5> Contact : {{ProfileServer.ContactFirstName}} &nbsp; {{ProfileServer.ContactLastName}}  </h5>
                <hr>
                <h5> Tel : {{ProfileServer.ContactPhone}} </h5>
                <hr>
                <h5> Email : {{ProfileServer.Email}} </h5>
                {% if ProfileServer.datetimeCompleteServer  %}
                <hr>
                <h5> วันที่ติดตั้ง : {{ProfileServer.datetimeCompleteServer|add_datetime}} </h5>
                {% endif %}
                {% if ProfileServer.datetimeReceiveServer %}
                <hr>
                <h5> วันที่รับเครื่อง : {{ProfileServer.datetimeReceiveServer|add_datetime}} </h5>
                {% endif %}
                <hr>
                <h5> ผูัรับผิดชอบ : {{ProfileServer.created_by.first_name}} &nbsp; {{ProfileServer.created_by.last_name}}  </h5>
                <hr>
                <h5> Memo  </h5>
                <textarea name="resolution" required class="form-control" rows="5" disabled>{{ProfileServer.Memo}}</textarea>
              </div>
              <div class="col-6 col-sm-6">
                {% if profileErefer %}
                  {% for profileErefers in profileErefer %}
                    <h5 class="my-3">Versions Erefws: {{profileErefers.ws_name}}</h5>
                    <hr>
                    <h5> Versions HosEreferral : {{profileErefers.hs_name}}  </h5>
                    <hr>
                    <h5> Contact Erefer : {{profileErefers.ContactFirstName}} &nbsp; {{profileErefers.ContactLastName}}  </h5>
                    <hr>
                    <h5> Tel. Erefer : {{profileErefers.ContactPhone}} </h5>
                    <hr>
                    <h5> สถานะ : {{profileErefers.serverstatus_name}} </h5>
                    <hr>
                    <h5> Test Data : {{profileErefers.testData}} </h5>
                    <hr>
                    <h5> Test MQ : {{profileErefers.testMq}} </h5>
                    <hr>
                    <h5> ติดตั้ง : {{profileErefers.staff_first_name}} &nbsp; {{profileErefers.staff_last_name}}  </h5>
                    <hr>
                    <h5> Memo E-referral </h5>
                    <textarea name="resolution" required class="form-control" rows="5" disabled>{{profileErefers.EreferMemo}}</textarea>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}