{% extends 'cases/base_case.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">
    <div class="col-md-6 offset-md-3">
      <!-- general form elements -->
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Edit Case </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="POST" class="form-group" action="{% url 'viewcase' %}">
          <div class="card-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Case name :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.name }}" disabled>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Project name :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.project }}" disabled>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"> Project Subgroup :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.project_subgroup }}" disabled>
            </div>
            <div class="form-group">
              <label>Resolution :</label>
              <textarea name="resolution" class="form-control" rows="5" disabled> {{case.resolution}} </textarea>
            </div>
            <div class="form-group">
              <label for="inputSpentBudget">Service : </label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.service }}" disabled>
            </div>
            
            <div class="form-group">
              <label>Hospital</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.hospitals }}" disabled>
            </div>
            <div class="form-group">
              <label for="customFile">Case File</label>
              Currently: <a href="{{case.case_pic}}">{{case.case_pic}}</a>
              <input type="checkbox" name="case_image">
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button type="submit" class="btn btn-warning" >Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
