{% extends 'cases/base_case.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">
    <div class="col-md-6 offset-md-3">
      <!-- general form elements -->
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">View Case </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="POST" class="form-group" action="{% url 'viewcase' %}">
          <div class="card-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Case name :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.name }}" disabled>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Project name :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.project_subgroup.project.name }}" disabled>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"> Project Subgroup :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.project_subgroup }}" disabled>
            </div>
            <div class="form-group">
              <label>Resolution :</label>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-default"><i class="fas fa-eye"></i></button>
              </div>
              <textarea name="resolution" class="form-control" rows="5" disabled> {{case.resolution}} </textarea>
            </div>
            <div class="form-group">
              <label for="inputSpentBudget">Service : </label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.service }}" disabled>
            </div>

            <div class="form-group">
              <label>Hospital</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.hospitals }}" disabled>
            </div>
            <div class="form-group">
              <label for="customFile">Case File</label>
              Currently: <a href="{{case.case_pic}}">{{case.case_pic}}</a>
              <input type="checkbox" name="case_image">
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <!-- <button type="submit" class="btn btn-warning" href="{% url 'viewCaseAssign' %}" >Cancel</button> -->
            <a class="btn btn-app" href="{% url 'viewCaseAssign' %}">
              <!-- <i class="fas fa-paper-plane"></i> Assign -->
              <i class="fas fa-arrow-circle-left"></i> Back
            </a>
          </div>
          <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Solution</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% if case.solution == None %} <!-- if solution is null -->
                    <textarea name="solution" class="form-control" rows="10" readonly="readonly">  </textarea>
                    {% else %}
                    <textarea name="solution" class="form-control" rows="10" readonly="readonly"> {{case.solution}} </textarea>
                  {% endif %}
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
              <!-- /.modal-content -->
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
