{% extends 'cases/base_case.html' %}
{% load static %}
{% block page_title %}
<h1 class="m-0 text-dark"> <small> </small></h1>
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">Edit Profile Server : {{ profile_server }}</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form role="form" method="POST" class="form-group" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label> OperationSystem </label>
                    <select  class="form-control select2" name="os"style="width: 100%;">
                      {% for os in os %}
                          {% if profile_server.OperationSystem_id == os.id %}
                            <option value="{{ os.id }}" selected> {{os.name}} </option>
                          {% else %}
                            <option value="{{ os.id }}" >{{os.name}}</option>
                          {% endif %} 
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label>Band</label>
                  <select  class="form-control select2" name="serverband"style="width: 100%;">
                    {% for bands in band %}
                      {% if profile_server.ServerBand_id == bands.id %}
                        <option value="{{ bands.id }}" selected>{{bands.name}}</option>
                      {% else %}
                        <option value="{{ bands.id }}">{{bands.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- textarea -->
                  <div class="form-group">
                    <label> Database </label>
                    <!-- <input type="text" class="form-control" name="FirstName" placeholder="ชื่อ" required> -->
                    <select  class="form-control" name="db"style="width: 100%;">
                      {% for db in db %}
                          {% if profile_server.database_id == db.id %}
                            <option value="{{ db.id }}" selected>{{db.name}}</option>
                          {% else %}
                            <option value="{{ db.id }}" >{{db.name}}</option>
                          {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> WebServer  </label>
                    <select  class="form-control" name="web_server"style="width: 100%;">
                      {% for web_server in web_server %}
                        {% if profile_server.webServer_id == web_server.id %}
                          <option value="{{ web_server.id }}" selected>{{web_server.name}}</option>
                        {% else %}
                          <option value="{{ web_server.id }}">{{web_server.name}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>IP mask:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                      </div>
                      <input name="ip" type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask="" im-insert="true" value = "{{profile_server.FixIpAddress}}">
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Backup Database </label>
                    <select  class="form-control" name="dbBackup"style="width: 100%;">
                      {% if profile_server.dbBackup == "Yes" %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No" >No</option>
                      {% else %}
                        <option value="Yes">Yes</option>
                        <option value="No"selected>No</option>
                      {% endif %}
                    </select>
                  </div>
                  
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="form-check">
                      {% if profile_server.UseServer == "New" %}
                        <input class="form-check-input" value="New" type="radio" name="radioUseServer" checked>
                      {% else %}
                        <input class="form-check-input" value="New" type="radio" name="radioUseServer" required>
                      {% endif %}
                      <label class="form-check-label">เครื่องใหม่</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="form-check">
                      {% if profile_server.UseServer == "Old" %}
                        <input class="form-check-input" value="Old" type="radio" name="radioUseServer" checked>
                      {% else %}
                      <input class="form-check-input" value="Old" type="radio" name="radioUseServer" required>
                      {% endif %}
                      <label class="form-check-label">เครื่องเก่า</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Contact FirstName  </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                      </div>
                      <input type="text" class="form-control" name="firstName" placeholder="Contact" value="{{ profile_server.ContactFirstName }}" >
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Contact LastName  </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                      </div>
                      <input type="text" class="form-control" name="lastName" placeholder="Contact" value="{{ profile_server.ContactLastName }}" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Phone</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                      </div>
                      <input type="text" name="ContactPhone" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" value="{{ profile_server.ContactPhone }}" im-insert="true" required>
                    </div>
                  </div> 
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> E-mail Or Line Id </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" name="ContactEmail" value="{{profile_server.ContactEmail}}" placeholder="Email OR Line Id" required="">
                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- photo -->
              <div class="row">
                <div class='col-sm-12'>
                  <div class="form-group">
                    <label>หมายเหตุ :</label>
                    <textarea name="memo" required class="form-control"  rows="2"> {{profile_server.Memo}} </textarea>
                  </div>
                  <div class="form-group">
                    <label for="customFile">File : </label>
                    {% if profile_server.ServerImage %}
                    <a href="{{profile_server.ServerImage}}">
                      <i class="fas fa-image"></i>
                    </a>
                    {% endif %}
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" value = "{{profile_server.ServerImage}}" name="case_image">
                      <label href="{{profile_server.ServerImage}}" class="custom-file-label" for="customFile"> Choose File </label>
                    </div>
                  </div>

                </div>

              </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

  </div>


</div>
{% endblock main_content %}
<!-- /.content -->
