
{% extends 'cases/base_controlversion.html' %}
{% load tags_and_filters_extras %}
<!-- {% block page_title %}
{% endblock page_title %} -->
{% block main_content %}
{% load static %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
                <div class="card-header">
                  {% if perms.crm.add_case %}
                  <a class="btn btn-app" href="{% url 'create_case' %}">
                    <i class="fas fa-plus"></i> Case
                  </a>
                  {% endif %}
                  {% if perms.crm.view_case %}
                  <a class="btn btn-app" href="{% url 'viewCaseAssign' %}">
                    <span class="badge badge-warning navbar-badge">{{countAssigns}}</span>
                    <i class="fas fa-paper-plane"></i> Assign
                  </a>
                  {% endif %}
                  <a class="btn btn-app" href="{% url 'monitorAssignCase' %}">
                    <i class="fas fa-desktop"></i>Monitor
                  </a>
                </div>
              
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#Id</th>
                    <th>Case Name</th>
                    <th>Project</th>
                    <th>Hospital</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for case in case %}
                  <tr>
                    <td>
                      <a>
                        {{ case.id}}
                      </a>
                    </td>
                    <td>
                      <a>
                        <!-- {{case.name}} -->
                        <!-- {{ case.date_entered|add_datetime }} -->
                        {{ case.project_subgroup.name}}
                          {% if case.priorityCase == '1' %}
                            <small class="badge badge-warning"> ด่วน </small>
                          {% elif case.priorityCase == '2' %}
                             <small class="badge badge-danger"> ด่วนที่สุด </small>
                          {% endif %}
                        </a>
                      
                      <br>
                      <small>
                        <!-- {{ case.date_entered}} -->
                        
                        {{case.name}}
                      </small>
                    </td>
                    <td>
                      {{ case.project_subgroup.project.name }}
                      <br>
                      <small>
                        <!-- {{ case.date_entered}} -->
                        {{ case.date_entered|add_datetime }}
                      </small>
                    </td>
                    <td>{{case.hospitals}}
                      <br>
                      <small>                        
                        {{case.service}} &nbsp;
                        {% if case.case_pic  %}
                        <a href="{{ case.case_pic}}">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </a>
                      {% endif %}
                      </small>
                    </td>
                        {% if case.assign == 'yes' and case.status_Case_id == None %}
                            {% if case.forward_by %}
                                <td class="text-center">

                                <small class="badge badge-info"> Forward </small> <small> {{case.forward_by|getAssignName}}</small>
                                <br>             
                                <small class="badge badge-info"> To </small> <small> {{case.created_by.first_name}}  </small>
                                      <small> {{case.created_by.first_name}} </small>
                                <br>
                                      <small> {{case.forward_at|add_datetime}} </small>
                                </td>
                            {% else %}
                              <td class="text-center">
                                <small class="badge badge-info"> Assign </small>
                                <br>             
                                      <small> {{case.assign_by|getAssignName}} </small>
                                <br>
                                      <small> {{case.assign_at|add_datetime}} </small>
                                </td>
                            {% endif %}
                        {% elif case.assign == 'yes' and case.status_Case_id != None %}
                          {% if case.status_Case.name == 'Pending' %}
                            <td class="text-center">
                            <small class="badge badge-warning"> {{case.status_Case.name}} </small>
                            <br>
                            <small> {{case.statusCaseUpdate_at|add_datetime}} </small>
                            </td>
                          {% elif case.status_Case.name == 'Close' %}
                            <td class="text-center">
                              <small class="badge badge-success"> {{case.status_Case.name}} </small>
                              <br>
                              <small> {{case.statusCaseUpdate_at|add_datetime}} </small>
                              <br>
                              <small>{{case.created_by.first_name}} {{case.created_by.last_name}} </small>
                              </td>
                          {% endif %}
                        {% else %}
                          <td class="text-center">
                            <small class="badge badge-danger"> close </small></td>
                          </td>
                        {% endif %}
                    <td class="project-actions text-center">
                       <a class="btn btn-warning btn-sm" href="{% url 'detail_case' case.id %}">
                        <i class="fas fa-eye">
                        </i>
                        View
                      </a>
                      {% if  request.user.id == case.created_by_id  %}
                        <a class="btn btn-info btn-sm" href="{% url 'update_case' case.id %}">
                          <i class="fas fa-pencil-alt">
                          </i>
                          Edit 
                        </a>
                      {% endif %}     
                        {% if case.assign != 'yes' %}
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_case' case.id %}">
                          <i class="fas fa-trash"></i>
                          Delete
                        </a>
                        {% endif %}                     
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock main_content %}