{% extends 'cases/base_serverProfile.html' %}
{% load static %}
{% block page_title %}
<h1 class="m-0 text-dark"> <small> </small></h1>
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">ลงทะเบียนติดตั้ง</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form role="form" method="POST" class="form-group" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Hospital</label>
                    <select  class="form-control select2" name="hospital"style="width: 100%;">
                      {% for hospital in hospitals %}
                      <option value="{{ hospital.id }}" >{{hospital.code}} : {{hospital.label}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label>Band</label>
                  <select  class="form-control select2" name="serverband"style="width: 100%;">
                    {% for serverband in serverbands %}
                    <option value="{{ serverband.id }}" >{{serverband.name}}</option>
                    
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- textarea -->
                  <div class="form-group">
                    <label> First Name </label>
                    <input type="text" class="form-control" name="FirstName" placeholder="ชื่อ" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> LastName </label>
                    <input type="text" class="form-control" name="LastName"  placeholder="นามสกุล" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> Phone</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                      </div>
                      <input type="text" name="ContactPhone" class="form-control" data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask="" im-insert="true" required>
                    </div>
                    <!-- /.input group -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label> E-mail Or Line Id </label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input type="text" class="form-control" name="ContactEmail" placeholder="Email OR Line Id" required>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" value="New" type="radio" name="radioUseServer" required>
                      <label class="form-check-label">ซื้อเครื่องใหม่</label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <!-- checkbox -->
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" value="Old" type="radio" name="radioUseServer" required>
                      <label class="form-check-label">เครื่องเก่า</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- photo -->
              <div class="row">
                <div class='col-sm-12'>
                  <div class="form-group">
                    <!-- <label for="customFile">Custom File</label> -->
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" name="case_image">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>หมายเหตุ :</label>
                    <textarea name="memo" required class="form-control" rows="2"></textarea>
                  </div>
                </div>

              </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">ลงทะเบียน</button>
                </div>
                
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

  </div>


</div>
{% endblock main_content %}
<!-- /.content -->
