{% extends 'cases/base_serverProfile.html' %}
{% load static %}
{% block page_title %}
<h1 class="m-0 text-dark"> <small> </small></h1>
{% endblock page_title %}
<!-- Main content -->
{% block main_content %}
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          
          <div class="card-header">
            <!-- <h3 class="card-title">Responsive Hover Table</h3> -->
            <form method="POST">
              {% csrf_token %}
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Hcode">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>รหัสสถาพยาบาล</th>
                  <th>ชื่อสถาพยาบาล</th>
                  <th>สถานะ</th>
                  <th>วันที่ติดตั้ง</th>
                  <th>หมายเหตุ</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{resultsList.hcode}}</td>
                  <td>John Doe</td>
                  <td>11-7-2014</td>
                  <td><span class="tag tag-success">Approved</span></td>
                  <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

  </div>


</div>
{% endblock main_content %}
<!-- /.content -->
