{% extends 'cases/base_case.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}

<section class="content">
  <div class="container-fluid">
    <div class="col-md-6 offset-md-3">
      <!-- general form elements -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Edit Case </h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="POST" class="form-group" enctype="multipart/form-data">
          <div class="card-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">Case name :</label>
              <input type="text" class="form-control" id="exampleInputName1" placeholder="Case name" name="name" value="{{ case.name }}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Project name : </label>
              <select id="project2" class="form-control" name="project2">
              <!-- <select id = "project2" class="form-control" name="project"> -->
                <!-- <option value="{{ case.project.id }}" selected> {{case.project_subgroup.project.name}} {{case.project_subgroup.project.id}} </option> -->
                {% for project in projects %}
                   {% if case.project_subgroup.project.id == project.id %}
                   <option value="{{ project.id }}" selected> {{project.name}}</option>
                  {% else %}
                  <option value="{{ project.id }}"> {{project.name}}</option>
                  {% endif %} 
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1"> Project Subgroup :</label>
               <!-- <select class="form-control" name="project_subgroup"> -->
               <select id="locality-dropdownUpdate" disabled class="form-control" name="localityUpdate">
                {% for subgroup in subgroups %}
                  {% if case.project_subgroup_id == subgroup.id %}
                  <option value="{{ subgroup.id }}" selected >{{ subgroup.name }} </option>
                  {% else %}
                  <option value="{{ subgroup.id}}" > {{subgroup.name}}</option>
                  {% endif %}
                {% endfor %}
              </select> 
            </div>
            <div class="form-group">
              <label>Resolution :</label>
              <textarea name="resolution" class="form-control" rows="5"> {{case.resolution}} </textarea>
            </div>
            <div class="form-group">
              <label for="inputSpentBudget">Service : </label>
              <select class="form-control" name="service">
                {% for service in services %}
                  {% if case.service.id == service.id %}
                    <option value="{{ case.service.id }}" selected> {{case.service}} </option>
                    {% else %}
                    <option value="{{ service.id }}"> {{ service.name }} </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label>Hospital</label>
              <select class="form-control select2" name="hospital" style="width: 100%;">
                {% for hospital in hospitals %}
                  {% if case.hospitals.id == hospital.id %}
                    <option value="{{ case.hospitals.id }}" selected> {{case.hospitals}} </option>
                  {% else %}
                    <option value="{{ hospital.id }}">{{hospital}}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="customFile">Case File</label>
              Currently: <a href="{{case.case_pic}}">{{case.case_pic}}</a>
              <input type="checkbox" name="case_image">
              <label for="case_pic-clear_id">Clear</label><br>
              Change:
              <input type="file" name="case_image">
            </div>
            <!-- /.form-group -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <!-- <button type="submit" class="btn btn-info">Submit</button> -->
            <button type="submit" class="btn btn-info toastrDefaultSuccess">
                  Submit
            </button>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
  </div>
  <div class="row">


    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}
