{% extends 'cases/base_controlversion.html' %}
{% load tags_and_filters_extras %}
<!-- {% block page_title %}
{% endblock page_title %} -->
{% block main_content %}
{% load static %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-header">
            {% if perms.crm.add_case %}
            <a class="btn btn-app" href="{% url 'create_case' %}">
              <i class="fas fa-plus"></i> Case
            </a>
            <a class="btn btn-app" href="{% url 'viewCaseAssign' %}">
              <span class="badge badge-warning navbar-badge">{{countAssigns}}</span>
              <i class="fas fa-paper-plane"></i> Assign
            </a>
            {% endif %}
            {% if perms.crm.change_case %}
            <a class="btn btn-app" href="{% url 'viewCaseApi-page' %}">
              <span class="badge badge-danger navbar-badge">{{ countCaseApi }}</span>
              <i class="fas fa-cloud-download-alt"></i> API
            </a>
            {% endif %}
            <a class="btn btn-app" href="{% url 'monitorAssignCase' %}">
              <i class="fas fa-desktop"></i>Monitor
            </a>
          </div>

          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>#Id</th>
                  <th>Case Name</th>
                  <th>Project</th>
                  <th>Hospital</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for case in case %}
                <tr>
                  <td>
                    <a>
                      {{ case.id}}
                    </a>
                  </td>
                  <td>
                    <a>
                      {{ case.name}}
                    </a>
                    <br>
                    <small>
                      {{ case.detail }}
                    </small>
                    <br>
                      <small class="badge badge-info">{{ case.callback_name }} โทร. {{ case.mobile_phone }} </small>
                  </td>
                  <td>
                    {{ case.pro_name}}
                    <br>
                    <small>
                      {{ case.sub_name }}
                    </small>
                  </td>
                  <td class="text-center">
                    {{case.hos_code}}
                    <br>
                    <small>
                      {{case.hos_name}}
                    </small>
                  </td>
                  <td class="text-center">
                    {% if case.status_Case_id == None %}
                      <small class="badge badge-danger"> เข้าระบบ </small>

                    {% elif case.status_Case_id == 1 %}
                      <small class="badge badge-success"> Close </small>

                    {% elif case.status_Case_id == 5 %}
                      <small class="badge badge-warning"> Pending </small>
                    {% endif %}
                  </td>
                  <td class="project-actions text-center">
                    <!-- <a class="btn btn-warning btn-sm" href="{% url 'detail_case' case.id %}">
                      <i class="fas fa-eye">
                      </i>
                      View
                    </a> -->
                    <!-- {% if case.assign == 'yes' %}
                        {% if perms.crm.view_case %} 
                          <a class="btn btn-danger btn-sm" href="{% url 'detail_case' case.id %}" data-toggle="modal" data-target="#modal-default">
                            <i class="fas fa-paper-plane">
                            </i>
                            Assign
                          </a>
                        {% endif %}
                      {% endif %} -->
                    <a class="btn btn-success btn-sm" href="{% url 'updateCaseApi' case.id %}">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Edit
                    </a>
                    <!-- {% if case.assign != 'yes' %} -->
                    <!-- <a class="btn btn-danger btn-sm" href="{% url 'delete_case' case.id %}">
                      <i class="fas fa-trash"></i>
                      Delete
                    </a> -->
                    <!-- {% endif %} -->
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

  <!-- /.modal -->
</section>
<!-- /.content -->

{% endblock main_content %}